build/
.vs/
*.sln
*.vcxproj
*.vcxproj.user
*.exe
*.obj
*.pdb
.vscode/
third_party/asio/
client/.venv/  
server/build/
server/__pycache__/   
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt